<<<<<<< HEAD
html {
    font-family: 'Helvetica', sans-serif;
}

body {
    width: 850px;
    margin: 20px auto;
=======
body {
    width: 850px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
>>>>>>> gh-pages
}

main {
    width: 850px;
    height: 450px;
    background-image: url('../img/nasa-background.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: table;
<<<<<<< HEAD
}

main h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    display: table-cell;
    vertical-align: middle;
=======
    margin-bottom: 20px;
>>>>>>> gh-pages
}

section {
    background-color: #eee;
<<<<<<< HEAD
    margin-top: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
=======
    height: 324px;
>>>>>>> gh-pages
}

div {
    width: 270px;
    float: left;
<<<<<<< HEAD
    padding-bottom: 20px;
}

#office-info {
    padding: 0 20px 0;
}

p {
  font-family: 'Myriad', sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 28px;
  padding: 0 25px 0;
}

h4 {
  font-weight: bold;
  padding: 0 25px 0;
=======
}

p {
  color: #555;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  padding: 0 25px 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #222;
}

a: visited, a:visited a:hover {
  color: #555;
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    display: table-cell;
    vertical-align: middle;
}

h3 {
  padding: 5px 25px 0;
>>>>>>> gh-pages
}

form {
  padding: 0 25px 0;
}

form p {
  padding: 0;
<<<<<<< HEAD
  margin-bottom: 5px;
=======
}

textarea {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  resize: none;
>>>>>>> gh-pages
}

input {
  border: none;
<<<<<<< HEAD
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 16px;
}

textarea {
  border: none;
  width: 100%;
  margin-bottom: 10px;
=======
  background-color: #444;
  color: white;
  padding: 5px 20px;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

#office-info {
    padding: 0 20px 0;
>>>>>>> gh-pages
}
